body{
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  text-align: center;
  opacity: 0.9;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2  {
  margin: 0;
  padding: 10px;
}
/* -----------------  Header -----------------------*/
header {
border-bottom: 1px solid white;
align-items: center;
display: flex;
height: 69px;
position: fixed;
top: 0;
width: 100%;
justify-content: space-between;
flex-wrap: wrap;
z-index: 1;
background-color: black;
}

 .logo img  {
  height: 50px;
  margin-left: 10px;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

nav span {
  padding: 20px 10px;
}

nav a {
  color: inherit;
}

/* --------------------Main Container ---------------------- */
.main-container {
  padding-top: 69px;
  width: 1200px;
  margin: auto;

}

#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  align-items:  center;

}

.mission-content {
  width: 100%;
  background-color: black;
}

#featured {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 50px;
}



.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  display: block;
  text-align: center;
  padding: 5px;
}
/*-------------------- Locations -----------------------*/
#locations {
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  padding-top: 50px;
}

.location {
  width: 300px;
  background-color: black;
  opacity: 1.0;
  margin: 20px;
  flex-direction: column;   /*  this is to make the container square */
}
/* ------------------- Contact --------------------------*/
#contact {
  height: 200px;
}


/* ------------------- Footer --------------------------*/
footer {
  text-align: left;
  margin-left: 20px:
}
